body{
  font-family: arial;
}

#main-heading{
  text-align: center;
}

.grid-container {
display: grid;
grid-template-columns: 150px 120px 100px;
column-gap: 10px;
row-gap: 10px;
margin-top: 10px;
align-items: center;
}

#todo-input, #todo-date{
  font-size: 15px;
  padding: 10px 5px;
}
.btn-delete{
  background-color: rgb(130, 14, 14);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 0px;
  cursor: pointer;
}
.btn-todo{
  background-color: rgb(19, 122, 35);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 0px;
  cursor: pointer;

}
